* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fontfamily: "Rubik", sans-serif;
}
.link-style {
  text-decoration: none;
  color: #4a4a4a;
}
.header {
  font-family: var(--fontfamily);
  display: flex;
  position: sticky;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.logo-top {
  width: 155px;
  padding: 10px 10px;
}
.navigator-menu {
  padding-bottom: 13px;
  color: #4a4a4a;
  text-align: left;
  display: flex;
  align-items: center;
}
.menu-links {
  display: inline-block;
  padding-left: 20px;
  font-size: 1rem;
}
.main {
  background-color: #3cdbc0;
  color: #ffffff;
  font-family: var(--fontfamily);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-main {
  font-size: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* VERSION TABLET DESKTOP */

@media all and (min-width: 768px) {
  .header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
  }
  .logo-top {
    width: 155px;
    padding: 20px 0 20px 30px;
  }
  .menu-links {
  }
}
